extends baseEmail

block content
  p Hi #{firstName},
  p Here you get your confirmation email!
  p If the button does not work, copy this url into your browser: #{url}
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Confirm your email
  p If you need any help with the app features, please don't hesitate to contact us!
  p - Social Coffee App -