doctype html
html
  head
    title Email Confirmation
  body
    h1 Hi #{name}
    h2 Your email has been confirmed. Thank You!
    h3 Please go back to the Social Coffe App and start using its amazing features!
