doctype html
html
  head
    title Email Confirmation Went Wrong
  body
    h1 Hi #{name}
    h2 Sorry for that but we couldn't confirm your email. Please try agian!
    h1 
    a(href='exp://mq-faw.bogdan-dev.social-coffee.exp.direct:80', target='_blank') Go To The App